html, body {
    // background-color: orange;
    height: 100%;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: .15rem;
}
img {
    border-radius: 14px;
}
label {
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.2rem;
}
.App {
    display: flex;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    &__sidebar {
        background-image: linear-gradient(to right,rgba(164, 159, 242, .1), rgb(0, 0, 0));
        color: white;
        border: 2px solid ghostwhite;
        padding: .5rem;
        height: 100vh;
        width: 20%;
        text-shadow: 1.3px 1.3px black;
    }
    &__mainview {
        // display: flex;
        width: 100%;
        &--grid {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: space-evenly;
                &__individualRestaurant {
                // width: 30%;
                    &--name {
                        text-align: center;
                    }
            }
        }
    }
}
.filter-h1 {
    text-shadow: 2px 2px black;
    margin-left: .5rem;
}
.filter-form {
    margin-left: 2rem;
}
.resultTitle {
    text-align: center;
}