body {
    // background-color: orange;
}
.App {
    display: flex;
    background-color: red;
    height: 100%;
    width: 100%;
    &__sidebar {
        background-color: blue;
        height: 20rem;
        width: 15%;
    }
    &__mainview {
        // display: flex;
        width: 100%;
        &--grid {
            display: flex;
            &__individualRestaurant {
                width: 30%;
            }
        }
    }
}