$main-color: #ff0f39;
$secondary-color: white;
$accent-color: #ecf5fd;

* {
    box-sizing: border-box;
    // border: 1px solid lawngreen;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $secondary-color;
}

//CSS for the header (nav bar)
.header {
    display: flex;
    justify-content: space-between;
    background-color: $secondary-color;
    margin-bottom: 2% ;
    color: $main-color;
    z-index: 1;
    position: fixed;
    width: 100%;
    img {
        height: 7vh;
        margin-left: 2%;
        margin-top: 2%;;
        margin-bottom: 1%;

    }
    &__nav {
        align-self: center;
        display: flex;
        width: 30%;
        justify-content: space-evenly;
        align-items: center;
        span {
            color: $main-color;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            padding-bottom: 3px;
        }
        span:hover {
            box-shadow: 0 4px 0 -2px gray;
            padding-bottom: 5%;
            font-size: 1.05em;
        
        }
    }
    
}

.shadow {
    box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.2);
}

#header-red {
    color: $main-color;
}

#header-city {
    font-size: .3em
}

//CSS for the Filters on the sidebar
.filter-form {
    padding: 5%;
    label {
        font-size: 2em;
        font-weight: 300;
    }
    input {
        margin-bottom: 10%;
    }
}


//CSS for main content section of app
.App {
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    margin: 0 auto;
    overflow: -moz-hidden-unscrollable;
    font-family: 'Lato', sans-serif;
    align-items: center;
    h2 {
        font-size: 3em;
        font-family: roboto;
        font-weight: 300;
        color: black;
    }
    &__header {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
        font-family: Lato;
        font-weight: 500;
        width: 60%;
    }
    &__mainview {
        // display: flex;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: $accent-color;
        &--sidebar {
            display: flex;
            flex-direction: column;
            margin-top: 2%;
            margin-left: 5%;
            background-color: white;
            height: 40vh;
            width: 20%;
            border-radius: 5px;
            -moz-box-shadow: 0 0 6px grey;
            -webkit-box-shadow: 0 0 6px grey;
            box-shadow: 0 0 6px grey;
            overflow: auto;
            &__header {
                background-color: $main-color;
                text-align: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: $secondary-color;
            }
            
        }
        &--grid {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            justify-content: flex-start;
            align-items: flex-start;
                &__individualRestaurant {
                    width: 240px;
                    height: 250px;
                    -moz-box-shadow: 0 0 6px grey;
                    -webkit-box-shadow: 0 0 6px grey;
                    box-shadow: 0 0 6px grey;
                    display: flex;
                    flex-direction: column ;
                    background-color: $secondary-color;
                    border-radius: 3px;
                    margin: 20px 7% 20px 0;
                    &--name {
                        text-align: left;
                        font-size: .8em;
                        margin-left: 2%;
                        padding: 0;

                    }
                    &--pic {
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                        border-bottom: 3px solid $main-color;
                    }
                }
                // &__individualRestaurant:hover {
                    
                //     -moz-box-shadow: 0 0 20px rgb(136, 134, 134);
                //     -webkit-box-shadow: 0 0 20px rgb(136, 134, 134);
                //     box-shadow: 0 0 20px rgb(136, 134, 134);
                //     cursor: pointer;
                // }
        }
    }
}
.filter-h1 {
    text-shadow: 2px 2px black;
    margin-left: .5rem;
}
.resultTitle {
    text-align: center;
}

.login-div {
    margin-top:20%
    
}